{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": ["warn", { "allow": ["log"] }],
    "linebreak-style": ["error", "unix"]
  }
}
